<form id="omnibox" class="form-inline" action="{{ path('ibexa.search') }}">
    <input class="form-control mr-sm-2" name="search[query]" type="search" placeholder="Search (Alt+/)" aria-label="Search" />
</form>
